import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { provideHttpClient, withInterceptorsFromDi } from '@angular/common/http';
import { {{className}}Repository } from '@repositories/{{name}}/{{name}}.repository';
import { Request } from 'src/core/core-interface/request';
import { Get{{className}}UseCase } from '@usecases/{{name}}/get-{{name}}.usecase';
import { {{className}}ImpRepository } from '@data/repositories/{{name}}/{{name}}-implementation.repository';
import { {{className}}RemoteDataSourceImp } from '@data/datasource/{{name}}/remote/{{name}}-remote-datasource-imp';
import { {{className}}RemoteDataSource } from '@data/datasource/{{name}}/source/{{name}}-remote-datasource';
import { {{className}}LocalDataSource } from '@data/datasource/{{name}}/source/{{name}}-local-datasource';
import { {{className}}LocalDataSourceImp } from '@data/datasource/{{name}}/local/{{name}}-local-datasource-imp';

@NgModule({ 
  imports: [CommonModule], 
  providers: [
    Request,
    Get{{className}}UseCase,
    { provide: {{className}}Repository, useClass: {{className}}ImpRepository },
    { provide: {{className}}RemoteDataSource, useClass: {{className}}RemoteDataSourceImp },
    { provide: {{className}}LocalDataSource, useClass: {{className}}LocalDataSourceImp },
    provideHttpClient(withInterceptorsFromDi()),
  ] 
})
export class {{className}}DI {} 